:root{

}

section{
  padding: 1em;
}
body{
  min-height: 100vh;
}

.fit img{
  width: 95%;
}

.text-large{
  color: white;
  font-size: 24pt;
}

.text-header{
  color: black;
  font-size:18pt;
}

.color-bar{
  margin-top: 3em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 40vw;
  background-color: teal;
  
}

.main-body{
  display: flex;
  min-height: 60vw;
}

.border{
  border: solid black;
}

.title{
  display: flex;
  justify-content: center;
}

.fit-content{
  height: auto;
  width: fit-content;
}

.image-container{
  justify-content: center;
}

.image-box{
  background-color: blue;
  height: 5em;
  color: white;
}

.empty-box{
  min-width: 20vw;
}

.text-center{
  display: flex;
  justify-content: center;
}

.max-width{
  max-width: 22vw;
}

.pd-top{
  padding-top: 4em;
}
.pd-t{
  padding-top: 1em;
}
.pd-r{
  padding-right: 1em;
}
.pd-b{
  padding-bottom: 1em;
}
.pd-l{
  padding-left: 2em;
}
.pd-indent{
  padding-left: 1em;
}
.mg-t{
  margin-top: 0.5em;
}
.mg-r{
  margin-right: 1em;
}
.mg-b{
  margin-bottom: 1em;
}
.mg-l{
  margin-left: 1em;
}